{% extends 'base.html' %}

{% block head %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% load humanize %}

{% block title %} | Plotly Graph {% endblock %}

{% block content %}

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <span style="font-size:20px;cursor:pointer" id="menu" onclick="openNav()">&#9776; Open Menu</span>
        </li>
        <li style="font-size:20px;" class="breadcrumb-item active">Plotly Graph</li>
      </ol>
    </nav>
  </div>
</section>

<!-- Alerts -->
{% include 'partials/_alerts.html' %}

<section id="dashboard" class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Welcome {{ user.first_name }} {{ user.last_name }} </h2>
      </div>
    </div>
  </div>
</section>

<section id="dashboard" class="py-4">
  <div class="container">
    {{piechart|safe}}
  </div>
</section>


{% include 'partials/_sidebar.html' %}


{% endblock %}